doctype html
html
    head
        meta(charset='utf-8')
        title: !=title
        style
          include reset.css
          include markdown.css
          include highlight/github.css
    body
        !=content