doctype html
html
    head
        meta(charset='utf-8')
        title: !=title
        style
          include normalize.css
          include github.css
          include syntax.css
    body
        !=content